:root {
    --navigation-row-sm-height: 52px;
}

body, html{
    margin:0;
    padding:0;
}

body {
    min-width: fit-content;
}

/** Forms */
.form-control {
    border: 0.0625rem solid #d2d6da !important;
    padding: 0.625rem 0.75rem !important;
}

.form-control:focus, .form-select:focus {
    border-color: #a39f9f !important;
}

.form-select {
    padding: 0.625rem 0.75rem !important;
}

.form-check {
    padding-left: 0.2rem;
}

.form-check-input:checked:after {
    content: "" !important;
}

/** Listbox */
#listBox td.long-item {
    min-width: fit-content !important;
    white-space: normal !important;
    overflow-wrap: anywhere;
}

#listBox td.buttons {
    white-space: normal !important;
}

#listBox i.sort-icon {
    vertical-align: middle;
    margin-top: -0.3125rem;
}

/** Navigation */
ul.sticky-xl-top {
    top: 1rem;
}

@media (max-width: 1199px) {
    #navigation-row {
        height: var(--navigation-row-sm-height);
    }

    #navigation.sticky-top {
        top: var(--navigation-row-sm-height);
    }
}

@media (min-width: 1200px) {
    .h-xl-100 {
        height: 100% !important;
    }

    #navigation-row {
        position: relative;
    }
}