{% extends "base.html.twig" %}

{% block body %}
    <div id="container" class="container-fluid h-xl-100">
        <div class="row sticky-top" id="navigation-row">
            <header class="d-flex bg-dark px-3 px-xl-5 py-1 py-xl-3 col justify-content-between align-items-center">
                <h1 class="text-white text-nowrap display-6">Administrace</h1>

                <a data-bs-toggle="collapse" data-bs-target="#navigation" class="d-xl-none">
                    <span class="material-icons-round md-36 text-white">menu</span>
                </a>
            </header>
        </div>
        <div class="row h-xl-100">
            {% include("components/_navigation.html.twig") %}
            
            <main class="col ps-xl-4 mt-3">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}