{% extends "layout.html.twig" %}

{% block title %}Administrace - {{ header }}{% endblock %}

{% block content %}
    <section>
        {% include("components/_flash_messages_box.html.twig") %}

        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h4 class="text-white ps-3">{% block list_header %}{{ header }}{% endblock %}</h4>
                </div>
            </div>
            <div class="card-body table-responsive" id="listBox">
                {% block addbtn %}{% endblock %}

                {% block table %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}